@import "@styles/variables.scss";

/*=========================
  Input
===========================*/

.input {
  display: block;
  width: 100%;
  height: $control-height;
  padding: 0 28px;
  border: solid 1px $secondary-border-color;
  font-size: 18px;
  background: $secondary-bg-color;
  outline: none;

  @media #{$mobile} {
    height: $mob-control-height;
    padding: 0 18px;
    font-size: 14px;
  }

  &:focus {
    border-color: $accent-border-color;
  }

  &::placeholder {
    color: $secondary-text-color;
  }
}
