@import "@styles/variables.scss";

/*=========================
  Wrapper
===========================*/

.input-wrapper {
  position: relative;
}

/*=========================
  Input
===========================*/

.input {
  display: block;
  width: 100%;
  height: $control-height;
  padding: 0 28px;
  border: solid 1px $secondary-border-color;
  font-size: 18px;
  background: $secondary-bg-color;
  outline: none;

  &_has-icon {
    padding-left: $control-height;
  }

  @media #{$mobile} {
    height: $mob-control-height;
    padding: 0 18px;
    font-size: 14px;

    &_has-icon {
      padding-left: $mob-control-height;
    }
   }

  &:focus {
    border-color: $accent-border-color;
  }

  &::placeholder {
    color: $secondary-text-color;
  }

  &_error {
    border-color: $error-color;
  }

  &_warning {
    border-color: $warning-color;
  }
}

/*=========================
  Icon
===========================*/

.icon {
  position: absolute;
  left: calc($control-height / 2);
  top: 50%;
  transform: translate(-50%, -50%);

  .input:focus + & {
    background-color: $accent-text-color;
  }

  @media #{$mobile} {
    left: calc($mob-control-height / 2);
  }
}
