@import "@styles/variables.scss";

/*=========================
  Button
===========================*/

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 18px;
  min-height: 55px;
  padding: 10px 28px;
  border: none;
  color: $inverted-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3em;
  background: $accent-bg-color;
  cursor: pointer;

  @media #{$mobile} {
    min-height: 38px;
    padding: 5px 18px;
    font-size: 14px;
  }
}

.loader {
  margin-left: -8px;
}

/*=========================
  States
===========================*/

.button_disabled {
  background-color: $tertiary-bg-color;
  pointer-events: none;
}

/*=========================
  Hover
===========================*/

.button:hover {
  opacity: .7;
}
