@import "@styles/variables.scss";

/*=========================
  Text
===========================*/

.text {
  color: $secondary-text-color;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8em;

  @media #{$mobile} { font-size: 14px; }

  &_error {
    color: $error-color;
  }

  &_warning {
    color: $warning-color;
  }
}
