@import "@styles/variables";

/*=========================
  Product Page
===========================*/

.content {
  display: flex;
  gap: 50px;

  @media #{$mobile} {
    flex-direction: column;
    gap: 30px;
  }
}

.gallery {
  flex-shrink: 0;
  flex-basis: min(50%, 600px);
  max-width: 600px;
}

.info {
  flex-grow: 1;
}

.relatedItems {
  margin-top: 50px;
}
