/*=========================
  Title
===========================*/

.title {
  font-weight: 700;
  line-height: 1.3em;
  text-transform: capitalize;

  &.xs { font-size: 26px; }

  &.s { font-size: 32px; }

  &.m { font-size: 44px; }

  &.l { font-size: 64px; }
}
