@import "@styles/variables.scss";

/*=========================
  Login
===========================*/

.header {
  margin: 0 auto 80px;
  max-width: 600px;
  text-align: center;

  @media #{$mobile} { margin-bottom: 25px; }
}

.tip {
  margin-top: 20px;
}

/*=========================
  Form
===========================*/

.form {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.field {
  margin-bottom: 30px;

  @media #{$mobile} { margin-bottom: 15px; }
}
