@import "@styles/variables.scss";

/*=========================
  Icon
===========================*/

$icons: "email", "lock", "user", "search";

@mixin icon-size($size) {
  width: $size;
  height: $size;
}

.icon {
  display: block;
  background: $primary-text-color;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;

  @each $icon in $icons {
    &_#{$icon} {
      mask-image: url("@static/img/icons/#{$icon}.svg");
    }
  }

  &_secondary { background-color: $secondary-text-color; }
  &_accent { background-color: $accent-text-color; }
  &_error { background-color: $error-color; }
  &_warning { background-color: $warning-color; }

  &_size-s {
    @include icon-size(16px);
  }

  &_size-m {
    @include icon-size(24px);
  }

  &_size-l {
    @include icon-size(30px);
  }

  @media #{$mobile} {
    @include icon-size(18px);
  }
}
