/*=========================
  Info
===========================*/

.info {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.description {
  margin-top: 20px;
}

.price {
  margin: auto 0;
}
